@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Lato:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: rgba(219, 234, 255, 0.68);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.first-page {
    background: url("img/hero-plane.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}


header {
    background: linear-gradient(90deg, rgba(0, 120, 212, 0.56), rgba(0, 90, 158, 0.6));
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}



header {
    position: relative;
}

.header__burger {
    display: none; /* Скрыто по умолчанию */
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

.header__burger span,
.header__burger span::before,
.header__burger span::after {
    display: block;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    transition: 0.3s ease;
}

.header__burger span::before {
    content: '';
    top: 11px;
}

.header__burger span::after {
    content: '';
    bottom: -22px;
}

.header {
    width: 100%;
    padding: 20px 0;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.header__nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header__nav a:hover {
    color: #ffcc00;
}

.header__nav button {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #0078d4;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header__nav button:hover {
    background-color: #005a9e;
}

.header-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.advantages {
    position: absolute;
    max-width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.advantages__card {
    background-color: #e8e8e8;
    color: #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    width: auto !important;
}

.advantages__card h3 {
    color: #0078d4;
    margin-bottom: 10px;
}

.arrow-container {
    position: absolute;
    top: 90%; /* Расположение на 90% от высоты окна */
    left: 48%; /* Расположение по центру по горизонтали */
    transform: translateX(-48%); /* Центрирование по горизонтали и вертикали */
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #0078d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 2s infinite ease;
}

.map {
    margin: 100px 0
}

#map {
    height: 400px;
    width: 100%;
}

.arrow-container img {
    width: 35px;
    height: 35px;
    rotate: 135deg;
    color: white;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


/* Стили для попапов */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0; /* Изначально скрыт */
    transition: opacity 0.3s ease; /* Плавное появление попапа */
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Начальная прозрачность */
    transition: background-color 0.3s ease; /* Плавное изменение фона */
}

.popup.show {
    display: flex;
    opacity: 1; /* Плавное появление попапа */
}

.popup.show .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачность фона при открытии */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup-content.show {
    transform: translateY(0);
    opacity: 1;
}

/* Стили для полей ввода по умолчанию (синяя обводка) */
.popup-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0078d4; /* Синяя обводка по умолчанию */
    border-radius: 5px;
}

/* Стили для кнопки */
.popup-content button {
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup-content button:hover {
    background-color: #005a9e;
}

.popup-content h2 {
    margin-bottom: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Стили для текста ошибки */
.error-text {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

/* Стили для ошибок (красная обводка) */
input.invalid {
    border: 1px solid red;
}

/* Стили для валидных полей (зелёная обводка) */
input.valid {
    border: 1px solid green;
}

/* Стили для кнопки в состоянии disabled */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.search {
    text-align: center;
    padding: 60px 20px;
}
.search h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.search input, .search button {
    padding: 15px;
    font-size: 1rem;
    margin: 10px;
    border: 2px solid #0078d4;
    border-radius: 5px;
    outline: none;
}
.search input:focus {
    border-color: #005a9e;
    box-shadow: 0 0 5px rgba(0, 90, 158, 0.5);
}
.search button {
    background-color: #0078d4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search button:hover {
    background-color: #005a9e;
}
.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    transition: background-color 0.3s ease;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: #0078d4 !important;
    color: white;
}

.recommendations {
    text-align: center;
}

.title {
    font-size: 32px;
    color: #333;
    margin: 40px;
    text-align:center;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: #464646;
    margin: 20px 0 40px;
}
.services .card {
    width: 23%;
    padding: 15px 0;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services .card p {
    margin-inline: 20px;
}

.services .card h3 {
    color: #0078d4;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    width: 23%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    min-height: 150px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .card-image {
    transform: scale(1.2) translateY(-20px);

}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    color: #333;
    margin: 25px 0;
}

/* Основной стиль для секции отзывов */
.reviews {
    padding: 60px 20px;
    margin: 30px 0 100px;
    text-align: center;
}

.reviews-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 40px;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 10px;
    cursor: grab;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 260px;
    margin-right: 20px;
}

.slide:last-child {
    margin-right: 0;
}

.review-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    min-height: 180px;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.review-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.review-info {
    text-align: left;
}

.review-name {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.review-rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.stars {
    font-size: 16px;
    color: #ffcc00;
}

.star-icon {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.review-body {
    text-align: left;
    font-size: 14px;
    color: #666;
}

.review-pros,
.review-cons {
    margin: 5px 0;
}

.review-pros {
    font-weight: bold;
    color: #4caf50;
}

.review-cons {
    font-weight: bold;
    color: #f44336;
}

.slider-button {
    position: absolute; /* Оставляем абсолютное позиционирование */
    top: 45%;
    transform: translateY(-55%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Обеспечиваем, чтобы стрелочки были выше слайдера */
}

.slider-button.prev {
    left: 10px;
}

.slider-button.next {
    right: 10px;
}


.slider-button.next {
    right: 10px;
}

.feedback {
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
}
.feedback-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 100px;
}


.feedback-container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3); /*Добавил полупрозрачность для лучшего вида*/
}
.feedback h2 {
    text-align: center;
    margin-bottom: 20px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-inputs {
    display: flex;
    gap: 30px;
}


.form-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"], input[type="text"], input[type="tel"] {
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    height: 202px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-btn {
    padding: 12px 20px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #005fa3;
}

.feedback-background {
    background: url("img/feedback-background.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.feedback-call {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #0078d4;
}

/* Footer */
.footer {
    background-color: #003366;
    color: white;
    padding: 30px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    padding-right: 50px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-social {
    text-align: right;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icon {
    margin: 0 15px;
}

.footer-icon img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}


/* Общие корректировки */
@media (max-width: 1260px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    .cards {
        align-items: center;
        margin-bottom: 10px;
    }
    .services .card {
        width: 45%;
    }
    .advantages__card {
        min-width: 200px !important;
    }
}

/* Mobile Responsiveness */
@media (max-width: 865px) {
    /* Корректируем контейнер */
    .container {
        max-width: 100%;
        padding: 0 15px; /* Добавляем отступы по бокам */
    }

    /* Хедер */
    .header__burger {
        display: block; /* Показываем бургер меню */
    }
    .header__nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        background-color: #004080;
        flex-direction: column;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 10;
        justify-content: normal;
        align-items: normal;
    }
    .header__nav.active {
        right: 0; /* Меню появляется */
    }
    .header-overlay.active {
        display: block; /* Оверлей появляется */
    }

    .header__nav button{
        width: fit-content;
        margin-left: 20px;
    }
    .header-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    /* Адаптация преимуществ */
    .advantages {
        position: static; /* Убираем абсолютное позиционирование */
        transform: none; /* Сбрасываем трансформацию */
        margin-top: 20px;
        left: 0; /* Убираем смещение влево */
        padding: 0 15px;
        max-width: 100%; /* Занимает всю ширину */
        display: flex;  /* Используем flexbox */
        flex-wrap: wrap;  /* Разрешаем перенос на новую строку */
        justify-content: space-between; /* Равномерно распределяем между */
        gap: 15px; /* Отступы между карточками */
    }
    .advantages__card {
        width: calc(33.33% - 10px) !important; /* Делим на 3 колонки (с учетом отступов) */
        margin-bottom: 10px;
    }

    /* Для совсем маленьких экранов делаем карточки на всю ширину */
    @media (max-width: 500px) {
        .advantages__card {
            width: 100% !important;
        }
        .cards {
            flex-direction: column;
            align-items: center;
        }
        .card {
            width: 100% !important;
        }
    }
    .arrow-container {
        top: 95%; /* Ниже */
        left: 50%; /* Центрирование */
        transform: translateX(-50%);
    }
    /*Секция почему именно мы*/
    .services {
        gap: 10px;
    }

    .services .card {
        margin-bottom: 15px;
    }
    /* Секция с картами */
    .cards {
        display: flex;
        flex-wrap: wrap; /* Разрешаем перенос на новую строку */
        justify-content: space-between; /* Выравниваем элементы по горизонтали */
        gap: 10px;
    }

    .card {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }

    /* Секция поиска */
    .search input, .search button {
        width: 100%;
    }
    .autocomplete {
        width: 100%
    }

    /* Секция с отзывами */
    .reviews-container {
        flex-direction: column;
        align-items: center;
    }

    .review-card {
        width: 80%;
        margin-bottom: 20px;
    }

    /* Слайдер */
    .slider-container {
        padding: 0;
    }
    .slider-wrapper {
        justify-content: flex-start;
    }
    .slide {
        flex: 0 0 100%;
        margin-right: 0;
    }

    .slider-button {
        padding: 8px 12px;
        font-size: 16px;
    }

    /* Секция обратной связи */
    .feedback-form {
        gap: 15px;
    }
    .form-inputs {
        flex-direction: column;
    }
    .form-left {
        gap: 10px;
    }
    .form-right {
        margin-bottom: 10px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-section {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .footer-social {
        text-align: center;
    }
    /* Стили для попапов */
    .popup-content {
        width: 90%;
    }
}
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #3498db;
    z-index: 1000;
    transition: width 0.1s ease;
}
